/**
 * Created by ChengZheLin on 2019/4/20.
 */

.home {
    .home-info {
        margin-bottom: 15px;
        strong {
            color: #8c8c8c;
        }
        span {
            color: #666;
        }
        
        .el-col {
            cursor: pointer;
        }
        
        .err {
            span {
                color: #4caf50;
            }
        }
    }
    .home-table {
        margin-bottom: 15px;
    }
    .home-pager {
        text-align: center;
        
        /*.el-pager {
            button,
            .number {
                background-color: #fff !important;
            }
        }*/
    }
}
